body 	
{
background-color: #7345E8;
font-family: Veranda;
font-size: 18pt;  
}
		
div 
{  
background-color:#FF99CC; 
}
		
p 	
{  
color: black; 
background-color: #FF99CC;
font-size: 16pt; 
}
		
h1 	
{  
font-style:italic; 
font-weight:bold;
color:black; 
margin-bottom: 0;
margin-top: 0;
}

h2
{
color:black;
font-style:italic;
}

h3
{
color:black;
}

h5
{
color:black;
}

img	
{  
float: right;
border: 2px;
border-style: solid;
width: 220px;
padding: 10px;
margin-right: 0px;
margin-left: 10px;
} 


	
